* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    color: white;   
} 

nav {
    background: transparent;
    border: 1px, solid, rgb(89, 88, 88);
    backdrop-filter: blur(15px);
    padding: 10px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

@media (max-width: 800px) {
    nav {
        flex-direction: column;
    }
    .menu {
        flex-direction: column;
        align-items: center;
    }
}

img {
    height: 25px;
    width: 25px;
}

img:hover {
    filter: drop-shadow(0px 0px 10px white);
    transition: 0.2s ease;
}

/* dropdown menu - about + contact */
.menu {
    list-style: none;
    display: flex;
    gap: 15px;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

/* elementCopil */
.menu > li {
    position: relative;
    display: flex;
}

/* elementContinut */
.menu a {
    text-decoration: none;
    padding: 10px;
    display: block;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #0092e6;
}

/* tranition */
.dropdown-menu {
    display: none;
    opacity: 0;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #787878;
    list-style-type: none;
    min-width: 150px;
    border-radius: 15px;
}

.dropdown-menu li a {
    padding: 10px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
}

/* tag */
body {
    background-image: linear-gradient(rgba(29, 29, 29, 0.5), rgba(46, 46, 46, 0.5)), url('52496.JPEG');
    background-size: cover;
    color: white;
    font-size: 18px;
}

/* .class */
.info {
    padding: 5px;
}

/* #id */
#contact {
    padding: 0px 20px 1px 0px;
    transition: color 2s ease;
}

#emailForm {
    padding: 0px 20px 1px 0px;
    padding-left: 30px;
}

#divclock {
    display: flex;
    justify-content: center;
    align-items: center;
}

#clockCanvas {
    text-align: center;
}

.home {
    padding: 0px 20px 1px 0px;
    padding-left: 30px;
}

.button {
    padding: 1em 2em;
    max-width: 100px;
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; 
    text-decoration: none;
    position: relative;
}

.button::after {
    content: '';
    position: absolute;
    height: 107%;
    width: 102%;
    border-radius: 1000px;
    background-image: linear-gradient(to bottom right, rgb(0, 119, 255), rgb(200, 0, 200));
    z-index: -1;
}

@media (hover: hover) {
    .button:hover {
        z-index: 0;
        box-shadow: 10px 0 25px rgb(0, 0, 0), -10px 0 25px rgb(0, 0, 0);
        transition: .3s ease;
    }
}

.title-home {
    text-align: center;;
}

/* coloane pt pagina - grid */
.about1 {
    padding: 0px 20px 0px 20px;
    display: grid;
    grid-template-areas: "box-content1 box-content2"
                         "box-content3 box-content4"
                         "box-content5 box-content6" ;
    grid-auto-columns: 50%;
}

@media (max-width: 800px) {
    .about1 {
        padding: 0px 20px 0px 20px;
    display: grid;
    grid-template-areas: "box-content1"
                         "box-content2"
                         "box-content3"
                         "box-content4"
                         "box-content5"
                         "box-content6" ;
    grid-auto-columns: 100%;
    }
}

.beforeafter {
    padding: 0px 20px 0px 20px;
    padding-left: 30px;
}

.image1 {
    width: 300px;
    height: 400px;
    border: 2px solid white;
    background-image: url('204.jpg');
    background-size: cover;
    transition: background-image 0.3s ease-in-out;
    border-radius: 15px;
}

.image1:hover {
    background-image: url('320.jpg');
}

#clock {
    text-align: center;
}

.image2 {
    width: 300px;
    height: 400px;
    border: 2px solid white;
    background-image: url('3514.jpg');
    background-size: cover;
    transition: background-image 0.3s ease-in-out;
    border-radius: 15px;
}

.image2:hover {
    background-image: url('310.jpg');
}

.image3 {
    width: 300px;
    height: 400px;
    border: 2px solid white;
    background-image: url('2347.jpg');
    background-size: cover;
    transition: background-image 0.3s ease-in-out;
    border-radius: 15px;
}

.image3:hover {
    background-image: url('241.JPG');
}

.image4 {
    width: 300px;
    height: 400px;
    border: 2px solid white;
    background-image: url('3431.jpg');
    background-size: cover;
    transition: background-image 0.3s ease-in-out;
    border-radius: 15px;
}

.image4:hover {
    background-image: url('249.jpg');
}

.row {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

.gallery {
    padding: 0px 40px 0px 40px;
    padding-left: 30px;
}

.gallery-text {
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
}

.image5, .image6, .image7, .image8, .image9, .image10, .image11, .image12, .image13, .image14, .image15, .image16, .image17, .image18, .image19, .image22, .image23, .image24, .image25, .image26, .image27, .image28, .image29, .image30 {
    width: 220px;
    height: 330px;
    border: 2px solid white;
    background-size: cover;
    transition: background-image 0.3s ease-in-out;
    border-radius: 15px;
}

.image5 {
    background-image: url('241.jpg');
}

.image5:hover, .image6:hover, .image7:hover, .image8:hover, .image9:hover, .image10:hover, .image11:hover, .image12:hover, .image13:hover, .image14:hover, .image15:hover, .image16:hover, .image17:hover, .image18:hover, .image19:hover, .image22:hover, .image23:hover, .image24:hover, .image25:hover, .image26:hover, .image27:hover, .image28:hover, .image29:hover, .image30:hover {
    animation-name: image-grow;
    animation-duration: .5s;
}

@keyframes image-grow {
    0%{
        height: 330px;
        width: 220px;
    }
    25%{
        height: 320px;
        width: 210px;
    }
    50%{
        height: 330px;
        width: 220px;
    }
    75%{
        height: 315px;
        width: 215px;
    }
    100%{
        height: 330px;
        width: 220px;
    }
}

.image6 {
    background-image: url('249.jpg');
}

.image7 {
    background-image: url('310.jpg');
}

.image8 {
    background-image: url('320.jpg');
}

.image9 {
    background-image: url('253.jpg');
}

.image10 {
    background-image: url('258.jpg');
}

.image11 {
    background-image: url('318 14.55.52.JPG');
}

.image12 {
    background-image: url('217.JPEG');
}

.image13 {
    background-image: url('2325.JPEG');
}

.image14 {
    background-image: url('2596.JPEG');
}

.image15 {
    background-image: url('2953.JPEG');
}

.image16 {
    background-image: url('246.JPEG');
}

.image17 {
    background-image: url('2854.JPEG');
}

.image18 {
    background-image: url('2214.JPEG');
}

.image19 {
    background-image: url('2217.JPEG');
}

.image22 {
    background-image: url('1000017979.JPEG');
}

.image23 {
    background-image: url('1000013318.jpg');
}

.image24 {
    background-image: url('1000000889.JPEG');
}

.image25 {
    background-image: url('68827.JPEG');
}

.image26 {
    background-image: url('68562.JPEG');
}

.image27 {
    background-image: url(67397.JPEG);
}

.image28 {
    background-image: url('51470.JPEG');
}

.image29 {
    background-image: url('301.JPEG');
}

.image30 {
    background-image: url('229.JPEG');
}

.row2 {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

.image20, .image21 {
    width: 400px;
    height: 300px;
    border: 2px solid white;
    background-size: cover;
    transition: background-image 0.3s ease-in-out;
    border-radius: 15px;
}

.image20 {
    background-image: url('2695.JPEG');
}

.image21 {
    background-image: url('2814.JPEG');
}

.row3 {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

.box-content1, .box-content2, .box-content3, .box-content4, .box-content5, .box-content6 {
    border: 1px, solid, grey;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    list-style-position: inside;
    background: transparent;
    border: 1px, solid, rgb(89, 88, 88);
    backdrop-filter: blur(15px);
    z-index: -1;
}

.box-content5, .box-content6 {
    grid-template-columns: 1fr 1fr;
}

footer {
    text-align: center;
    padding: 5px;
    background: transparent;
    border: 1px, solid, rgb(89, 88, 88);
    backdrop-filter: blur(15px);
    color: white;
    border-radius: 20px;
    margin: 1.5vw;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 1.5vw;
}

.social-icons a {
    color: #fff;
    font-size: 2vw;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #0092e6;
}

/* nth-of-type() */
.social-icons a:hover:nth-of-type(2) {
    color: red;
}